<html>

<head>

    <title>Пример веб-страницы</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Aleksandr Filippov Web Designer and Web Developer site.">

    <!-- Normalize styles -->
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="style.css">
   
    <!--[if IE]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <section id="center">
        <div class="upper">
            <div class="upper_container">
                <h1>Up</h1>
                <nav>

                    <ul>
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/collections/all">Books</a></li>
                        <li><a href="/blogs/five-simple-steps-blog">Blog</a></li>
                        <li><a href="/pages/about-us">About Us</a></li>
                        <li><a href="/pages/support">Support</a></li>
                    </ul>

                    <select>
                        <option value="" selected="selected">Select</option>

                        <option value="/">Home</option>
                        <option value="/collections/all">Books</option>
                        <option value="/blogs/five-simple-steps-blog">Blog</option>
                        <option value="/pages/about-us">About Us</option>
                        <option value="/pages/support">Support</option>
                    </select>

                </nav>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum accusamus voluptatibus, animi, quia eius distinctio fugit quis provident! Exercitationem ad, nostrum, repellendus error nobis distinctio quibusdam. Quis laboriosam, nihil ducimus.</p>
            </div>
        </div>


        <div class="middle">
            <div class="middle_container">
                <h1>Middle</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum accusamus voluptatibus, animi, quia eius distinctio fugit quis provident! Exercitationem ad, nostrum, repellendus error nobis distinctio quibusdam. Quis laboriosam, nihil ducimus.</p>
            </div>
        </div>

        <div class="bottom">
            <div class="bottom_container">
                <h1>Bottom</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime cumque vitae laboriosam, tempore quidem vero. Voluptatibus necessitatibus dicta architecto fugit adipisci quod sed reiciendis harum tempore nostrum? Totam, nihil, mollitia.</p>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section id="second">
        <div class="upper_second">
            <div class="upper_second_container">
                <h2>Section new</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ex neque molestias optio quasi inventore maxime atque maiores beatae consequatur nobis illum, et quae ducimus vitae hic, enim natus voluptates!</p>
            </div>
        </div>
    </section>
</body>

</html>